.custom-q-date-100 .q-date__header {
    background-color: #07348f !important;
    color:white !important;
  }
  
  .custom-q-date-110 .q-date__header {
    background-color: #07348f !important;
    color:white !important;
  }
  
  .custom-q-date-130 .q-date__header {
    background-color: #db4035 !important;
    color:white !important;
  }
  
  .custom-q-date-120 .q-date__header {
    background-color: #db4035 !important;
    color:white !important;
  }
  
  .custom-q-date-200 .q-date__header {
    background-color: #184d85 !important;
    color:white !important;
  }
  
  .custom-q-date-210 .q-date__header {
    background-color: #184d85 !important;
    color:white !important;
  }
  
  .custom-q-date-300 .q-date__header {
    background-color: #a8479a !important;
      color:white !important;
  }

  .custom-q-date-320 .q-date__header {
    background-color: #a8479a !important;
      color:white !important;
  }
  
  .custom-q-date-700 .q-date__header {
    background-color: #db4035 !important;
    color:white !important;
  }
  
  .custom-q-date-800 .q-date__header {
    background-color: #db4035 !important;
    color:white !important;
  }
  